/* BASIC STYLES HERE */
.hide{
  opacity: 0;
  transition: all .3s ease;
}

.reveal:hover  .hide{
  opacity: 1!important;
}

.special-card {
  background-color: rgb(14, 13, 13);
    opacity: .4;
  }
  